{% assign posts = paginator.posts %}
{% for post in posts %}
  
  {% if post.layout == "guest-author" %}

  {% elsif post.layout == "nav_menu_item" %}

  {% else %}

  <section class="vp-8">
    {% include post-link.html %}
  </section>

  {% endif %}

{% endfor %}

<div class="constrain text-center sans caps vp-4">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      ← Previous
    </a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span style="padding: 0 1rem;">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next →</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>