// Utilities
// ---------

// Layout

.grid {
  display: block;
  @include query($bp-sml){
    display: grid;
    justify-content: space-between; 
  }
}

.grid-child {
  @include query-down($bp-sml){
    margin: var(--u2) 0;
  }
  width: 100%;
}

.flexgrid {
  display: block;
  @include query($bp-sml){
    display: grid;
    justify-content: space-between;
    grid-gap: var(--u2);
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
  @include query($bp-lrg){
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-top: 0; // fix lack of margin-collapse with flex items
  }
}

.flex-row {
  flex-direction: column;
  @include query($bp-lrg){
    flex-direction: row;
  }
}

.flex-row-reverse {
  flex-direction: column;
  @include query($bp-lrg){
    flex-direction: row-reverse;
  }
}

.post-item-flex {
  flex-direction: row-reverse;
  @include query-down($bp-lrg){
    flex-direction: column-reverse;
  }
}

.flex-grow {
  flex: 1 0 auto;
}

.flex-stay {
  flex: 0 1 auto;
}


// Wrappers

.block-center {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--u2);
  padding-right: var(--u2);
  @include query($bp-med){
    padding-left: var(--u4);
    padding-right: var(--u4);
  }
}

.constrain {
  max-width: $content-width;
  @extend .block-center;
}

.full {
  width: 100%;
}

.measure {
  max-width: $measure-width;
}

.tall {
  padding: 10vh 0 5vh;
}

// Transformations

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.anchor-position {
  @include anchor-position;
}

.f-right {
  float: right;
}

.sideways {
  display: inline-block;
  padding: var(--unit) 0;
  @include query($bp-sml){
    transform: rotate(-90deg) translateX(-100%) translateY(-0.25em);
    transform-origin: 0 0;
    padding: 0 var(--unit);
    white-space: nowrap;
  }
}

.vertical-center {
  @include vertical-center;
}

// Vertical padding

.vp-1 {
  padding-top: var(--unit);
  padding-bottom: var(--unit);
}

.vp-2 {
  padding-top: calc( 2 * var(--unit) );
  padding-bottom: calc( 2 * var(--unit) );
}

.vp-4 {
  padding-top: calc( 4 * var(--unit) );
  padding-bottom: calc( 4 * var(--unit) );
}

.vp-8 {
  padding-top: calc( 4 * var(--unit) );
  padding-bottom: calc( 4 * var(--unit) );
  @include query($bp-med){
    padding-top: calc( 8 * var(--unit) );
    padding-bottom: calc( 8 * var(--unit) );
  }
}

.vp-16 {
  padding-top: calc( 8 * var(--unit) );
  padding-bottom: calc( 8 * var(--unit) );
  @include query($bp-med){
    padding-top: calc( 12 * var(--unit) );
    padding-bottom: calc( 12 * var(--unit) );
  }
  @include query($bp-xlg){
    padding-top: calc( 16 * var(--unit) );
    padding-bottom: calc( 16 * var(--unit) );
  }
}

// Horizontal padding

.hp-r-4 {
  @include query($bp-lrg){
    padding-right: var(--u4);
  }
}

// Other stuff

.inline-icon {
  position: relative;
  top: -0.05em;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
}

.cover {
  object-fit: cover;
}


.rbr {
  display: none;
  @include query($bp-sml) {
    display: inline;
  }
}
