<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="enter-fade">

    {% include header.html %}

    <main>
      <article>

        <header class="post-meta enter-frombottom constrain black">
          <h1 class="display f-2xh light tight">{{ page.title }}</h1>
          <p class="caps text-right">{{ page.date | date: "%A %B %-d %Y"}}</p>
          <p class="hidden">by Serena Chen</p>
        </header>

        {% if page.img1 or page.img2 %}
        <div class="imgspace constrain">
          {% if page.img1 and page.img2 %}
            <div class="imgspace">
              <figure class="overlap-wide-1"><img src="{{ page.img1 }}" alt="{{ page.img1alt }}"></figure>
              <figure class="overlap-wide-2"><img src="{{ page.img2 }}" alt="{{ page.img2alt }}"/></figure>
            </div>
          {% endif %}
          {% unless page.img1 and page.img2 %}
          <div class="imgspace">
            <figure style="
                width: 100%;
                ">
              <img src="{% if page.img1 %}{{ page.img1 }}{% endif %}{% if page.img2 %}{{ page.img2 }}{% endif %}" alt="{% if page.img1alt %}{{ page.img1alt }}{% endif %}{% if page.img2alt %}{{ page.img2alt }}{% endif %}"/>
            </figure>
          </div>
          {% endunless %}
        </div>
        {% endif %}

        <section class="constrain measure vp-8 black">
          {{ content }}
        </section>

      </article>

      {% include keep-reading.html %}
    
    </main>

    {% include nav.html %}

    {% include footer.html %}

  </body>
</html>
