<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="enter-fade relative">

    {% include logo.html content="absolute top" %}

    <main>
      <article class="black">

        <img src="{{ page.feature }}" class="cover post-image">

        <div class="scootch-up">

          <header class="constrain vp-8" style="background-color: white;">

            <h1 class="serif f-2xh thin tight">{{ page.title }}</h1>
            <div class="vp-2">
              <div class="caps sans text-right">{{ page.date | date: "%A %B %-d %Y"}}</div>
              <div class="caps sans">by {{ page.author.display_name }}</div>
            </div>
          </header>

          <section class="constrain easyread" style="background-color: white;">
            {{ content }}
          </section>

        </div>

      </article>

      
      

      {% if page.comments[0] %}
        <section class="">
          <h2 class="block-center serif italic light f-2xl">People are saying...</h2>
          <ul class="nls side_scroll">
            {% for comment in page.comments %}
              <li class="easyread measure vp-4 side_scroll-child">
                <p><span class="drop-cap">“</span>{{ comment.content }}</p>
                <p class="text-right italic">—{{ comment.author }}, <br>{{ comment.date | date: "%A %B %-d %Y, %I:%M %p"}}</p>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    
    </main>

    {% include keep-reading.html %}

    <hr>

    {% include footer.html %}

  </body>
</html>
