<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="enter-fade">

    {% include logo.html content="above" %}

    <main>
      <article class="black vp-8">

        <header class="constrain">
          <h1 class="serif f-2xh thin tight">{{ page.title }}</h1>
          <div class="vp-2">
            <div class="caps sans text-right">{{ page.date | date: "%A %B %-d %Y"}}</div>
            <div class="caps sans">by {{ page.author.display_name }}</div>
          </div>
          
        </header>

        <section class="easyread vp-8">
          {{ content }}
        </section>

        <section class="constrain">
          <div class="vp-2">
            <div class="caps sans text-center">by <a href="mailto:{{ page.author.email }}">{{ page.author.display_name }}</a></div>
          </div>
        </section>
      </article>

      {% if page.comments[0] %}
        <section class="block-center">
          <h2 class="serif italic light f-2xl">People are saying...</h2>
          <ul class="nls">
            {% for comment in page.comments %}
              <li class="easyread measure vp-4">
                <p><span class="drop-cap">“</span>{{ comment.content }}</p>
                <p class="text-right italic">—{{ comment.author }}, <br>{{ comment.date | date: "%A %B %-d %Y, %I:%M %p"}}</p>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    
    </main>

    <hr>

    {% include footer.html %}

  </body>
</html>
